<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>burhanloey's workout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Assistive website for burhanloey's workout routine">
    <meta name="author" content="burhanloey">
    <meta name="keywords" content="workout,recommendedroutine,bodyweightfitness,reddit">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">    
    <link href="css/style.css?v={{ fingerprint }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app">
    </div>

    <script src="https://www.youtube.com/iframe_api" type="text/javascript"></script>
    <script src="js/compiled/spacebar_workout.js?v={{ fingerprint }}" type="text/javascript"></script>
    
  </body>
</html>
